<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mock Switch</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
  <div id="app">
    <el-row>
      <el-col :span="20" :offset="2">
        <h1>接口管理</h1>
        <el-form>
          <el-form-item label="接口过滤显示">
            <el-select v-model="selectUrlValue" placeholder="请选择">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <el-table :data="tableData" style="width: 100%" border>
          <el-table-column prop="url" label="接口" width="200"></el-table-column>
          <el-table-column prop="configList" label="选项">
            <template slot-scope="scope">
              <el-form>
                <div v-for="(configItem, configItemKey) in scope.row.configList" :label="configItemKey">
                  <el-form-item :label="configItemKey">
                    <el-checkbox-group v-model="checkboxType[scope.row.url + configItemKey]" v-if="configItem instanceof Array" @change="changeHandle(scope.row.url, configItemKey, checkboxType[scope.row.url + configItemKey])">
                      <el-checkbox v-for="item in configItem" :label="item|getItemName" name="item"></el-checkbox>
                    </el-checkbox-group>
                    <el-input v-else-if="typeof configItem === 'string'" v-model="valueType[scope.row.url + configItemKey]" @change="changeHandle(scope.row.url, configItemKey, valueType[scope.row.url + configItemKey])"></el-input>
                    <el-radio-group v-model="radioType[scope.row.url + configItemKey]" v-else @change="changeHandle(scope.row.url, configItemKey, radioType[scope.row.url + configItemKey])">
                      <el-radio v-for="(item, radioKey) in configItem" :label="radioKey"></el-radio>
                    </el-checkbox-group>
                  </el-form-item>
                </div>
              </el-form>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="//unpkg.com/vue/dist/vue.min.js"></script>
  <script src="//unpkg.com/element-ui/lib/index.js"></script>
  <script type="text/javascript">
    new window.Vue({
      el: '#app',
      data() {
        return {
          urlConfigList: [],
          checkboxType: {},
          radioType: {},
          valueType: {},
          selectUrlValue: location.hash.split('#')[1],
        }
      },
      filters: {
        getItemName(val) {
          for (let i in val) {
            return i
          }
        }
      },
      computed: {
        options() {
          return [{ label: 'All', value: '' }].concat(this.urlConfigList.map(item => ({ label: item.url, value: item.url })))
        },
        tableData() {
          if (!this.selectUrlValue) {
            return this.urlConfigList
          }
          location.hash = this.selectUrlValue
          return this.urlConfigList.filter(item => item.url === this.selectUrlValue)
        },
      },
      mounted() {
        window.axios.post('/mock-switch/list').then(res => {
          res.data.forEach(item => {
            const listObj = item.configList
            const url = item.url

            for (let key in listObj) {
              const listObjKey = listObj[key]
              const itemTypeKey = url + key
              if (listObjKey instanceof Array) {
                if (!this.checkboxType[itemTypeKey]) {
                  this.$set(this.checkboxType, itemTypeKey, [])
                }
                listObjKey.forEach(list => {
                  for (let checkboxItem in list) {
                    if (list[checkboxItem]) {
                      this.checkboxType[itemTypeKey].push(checkboxItem)
                    }
                    list = checkboxItem
                  }
                })
              } else if (typeof listObjKey === 'string') {
                this.$set(this.valueType, itemTypeKey, listObjKey)
              }else {
                for (let radioItem in listObjKey) {
                  if (listObjKey[radioItem]) {
                    this.$set(this.radioType, itemTypeKey, radioItem)
                  }
                }
              }
            }
          })
          this.urlConfigList = res.data
        })
      },
      methods: {
        changeHandle(url, key, value) {
          window.axios.post('/mock-switch/change', {
            url,
            key,
            value,
          })
        }
      }
    })
  </script>
</body>

</html>