<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mock 接口数据控制台</title>
  <link rel="stylesheet" href="./static/element-ui.css">
</head>

<body>
  <div id="app" class="page-layout">
    <h3>接口管理<p style="margin-left: 10px; font-size:12px; font-weight:normal; display: inline-block; color: #666;">(开启接口代理可直接访问代理域名的数据，如需登录态，可传入登录之后的 cookie)</p></h3>
    <el-form :model="ruleForm" :rules="rules" :inline="true" ref="ruleForm" label-width="70px" label-position="right">
      <el-row>
        <el-form-item label="代理域名" prop="agentUrl">
          <el-autocomplete class="self-column" :disabled="ruleForm.useAgent" :fetch-suggestions="useAgentQuerySearch" v-model="ruleForm.agentUrl" placeholder="https://www.163.com"></el-autocomplete>
        </el-form-item>
        <el-form-item label="代理参数" prop="agentHeaders">
          <el-autocomplete class="self-column-params" :disabled="ruleForm.useAgent" :fetch-suggestions="agentHeadersQuerySearch" v-model="ruleForm.agentHeaders" placeholder='{ "Cookie": "AYFJDFDF66357GHJ76A4BA;" }'></el-autocomplete>
        </el-form-item>
        <el-form-item>
          <el-checkbox v-model="ruleForm.useAgent" @change="useAgentEvent">接口代理</el-checkbox>
        </el-form-item>
      </el-row>
      <el-row>
        <el-form-item label="接口筛选">
          <el-select class="self-column" v-model="selectUrlValue" placeholder="请选择" clearable filterable>
            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button @click="updatePage">更新数据</el-button>
        </el-form-item>
      </el-row>
    </el-form>
    <el-table :data="tableData" style="width: 100%" border>
      <el-table-column prop="url" label="接口URL" width="200"></el-table-column>
      <el-table-column prop="configList" label="接口数据切换">
        <template slot-scope="scope">
          <el-form>
            <div v-for="(configItem, configItemKey) in scope.row.configList" :label="configItemKey">
              <el-form-item :label="configItemKey">
                <el-checkbox-group v-model="checkboxType[scope.row.url + configItemKey]" v-if="configItem instanceof Array" @change="changeHandle(scope.row.url, configItemKey, checkboxType[scope.row.url + configItemKey])">
                  <el-checkbox v-for="item in configItem" :label="item|getItemName" name="item"></el-checkbox>
                </el-checkbox-group>
                <el-input v-else-if="typeof configItem === 'string'" v-model="valueType[scope.row.url + configItemKey]" @change="changeHandle(scope.row.url, configItemKey, valueType[scope.row.url + configItemKey])" style="width:300px"></el-input>
                <el-radio-group v-model="radioType[scope.row.url + configItemKey]" v-else @change="changeHandle(scope.row.url, configItemKey, radioType[scope.row.url + configItemKey])">
                  <el-radio v-for="(item, radioKey) in configItem" :label="radioKey"></el-radio>
                </el-checkbox-group>
              </el-form-item>
            </div>
          </el-form>
        </template>
      </el-table-column>
    </el-table>
  </div>
  <script src="./static/axios.js"></script>
  <script src="./static/vue.js"></script>
  <script src="./static/element-ui.js"></script>

  <script type="text/javascript">
    new window.Vue({
      el: '#app',
      data() {
        const agentUrlValidator = (rule, value, callback) => {
          if (value && !/^http/.test(value)) {
            return callback(new Error('请输入正确url'));
          }
          return callback()
        }
        const agentHeadersValidator = (rule, value, callback) => {
          let checkError = false
          if (!value) {
            return callback()
          }
          try {
            agentHeaders = JSON.parse(this.ruleForm.agentHeaders)
            if (typeof agentHeaders !== 'object') {
              checkError = true
            }
          } catch(e) {
            checkError = true
          }
          if (!checkError) {
            return callback()
          }
          return callback(new Error('代理参数必须为JSON格式'))
        }

        return {
          ruleForm: {
            agentUrl: '',
            agentHeaders: '',
            useAgent: false,
          },
          urlConfigList: [],
          checkboxType: {},
          radioType: {},
          valueType: {},
          selectUrlValue: location.hash.split('#')[1],
          rules: {
            agentUrl: [{
              trigger: 'blur',
              validator: agentUrlValidator
            }],
            agentHeaders: [{
              trigger: 'blur',
              validator: agentHeadersValidator
            }]
          },
        }
      },
      filters: {
        getItemName(val) {
          return Object.keys(val)[0]
        }
      },
      computed: {
        options() {
          return this.urlConfigList.map(item => ({ label: item.url, value: item.url }))
        },
        tableData() {
          if (!this.selectUrlValue) {
            return this.urlConfigList
          }
          return this.urlConfigList.filter(item => item.url === this.selectUrlValue)
        },
      },
      watch: {
        selectUrlValue(val) {
          location.hash = val || ''
        }
      },
      mounted() {
        this.initPageData()
      },
      methods: {
        updatePage() {
          this.initPageData()
        },
        initPageData() {
          this.getConfig()
          window.axios.post('/mock-switch/list').then(res => {
            res.data.forEach(item => {
              const listObj = item.configList
              const url = item.url

              for (let key in listObj) {
                const listObjKey = listObj[key]
                const itemTypeKey = url + key
                if (listObjKey instanceof Array) {
                  if (!this.checkboxType[itemTypeKey]) {
                    this.$set(this.checkboxType, itemTypeKey, [])
                  }
                  listObjKey.forEach(list => {
                    for (let checkboxItem in list) {
                      if (list[checkboxItem]) {
                        this.checkboxType[itemTypeKey].push(checkboxItem)
                      }
                      list = checkboxItem
                    }
                  })
                } else if (typeof listObjKey === 'string') {
                  this.$set(this.valueType, itemTypeKey, listObjKey)
                } else {
                  for (let radioItem in listObjKey) {
                    if (listObjKey[radioItem]) {
                      this.$set(this.radioType, itemTypeKey, radioItem)
                    }
                  }
                }
              }
            })
            this.urlConfigList = res.data
          })
        },
        changeHandle(url, key, value) {
          window.axios.post('/mock-switch/change', {
            url,
            key,
            value,
          })
        },
        getConfig() {
          window.axios.post('/mock-switch/config').then(res => {
            const { proxyUrlList, proxyParamsList, agent } = res.data
            Object.assign(this.ruleForm, {
              agentUrl: agent.agentUrl,
              agentHeaders: agent.agentHeaders,
              useAgent: agent.useAgent,
            })
            proxyUrlList.forEach(item => {
              this.setSearchResult('useAgentQuerySearchResult', item)
            })
            proxyParamsList.forEach(item => {
              this.setSearchResult('agentHeadersQuerySearchResult', JSON.stringify(item))
            })
          })
        },
        useAgentEvent() {
          this.$refs.ruleForm.validate(valid => {
            if (!valid) {
              return
            }
            let url = this.ruleForm.agentUrl
            let agentHeaders = ''
            if (!this.ruleForm.useAgent) {
              agentHeaders = ''
              url = ''
            } else if (this.ruleForm.agentHeaders) {
              if (!this.ruleForm.agentUrl) {
                return this.$message.warning('代理Url为空')
              }
              agentHeaders = JSON.parse(this.ruleForm.agentHeaders)
              this.setSearchResult('useAgentQuerySearchResult', url)
              this.setSearchResult('agentHeadersQuerySearchResult', this.ruleForm.agentHeaders)
            }
            window.axios.post('/mock-switch/agent', {
              url,
              agentHeaders,
            })
          })
        },
        setSearchResult(key, value) {
          const oldLocalData = this.getSearchResult(key)
          if (oldLocalData.includes(value)) {
            return
          }
          oldLocalData.push(value)
          sessionStorage.setItem(key, JSON.stringify(oldLocalData))
        },
        getSearchResult(key) {
          return JSON.parse(sessionStorage.getItem(key) || '[]')
        },
        useAgentQuerySearch(queryString, callback) {
          callback(this.formatQuerySearchData('useAgentQuerySearchResult'))
        },
        agentHeadersQuerySearch(queryString, callback) {
          callback(this.formatQuerySearchData('agentHeadersQuerySearchResult'))
        },
        formatQuerySearchData(key) {
          const data = this.getSearchResult(key)
          return data.map(item => ({
            value: item
          }))
        }
      }
    })
  </script>
  <style>
    h3 {
      padding: 0;
      margin: 0;
    }
    .page-layout {
      padding: 10px 20px 50px 20px;
    }
    .self-column {
      width: 400px;
    }
    .self-column-params {
      width: 500px;
    }
    .el-table__row .el-form-item {
      margin-bottom: 0px;
    }
  </style>
</body>

</html>